{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static "user/images/police.jpg" %}" alt="Police profile picture"/>
                            <!-- <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.first_name}} {{user.last_name}}
                                    </h5>
                                    <h6>
                                      Goverment Employee
                                    </h6>
                                    <form action="{% url 'assignFine' %}" method="post" enctype="multipart/form-data">
                                      {% csrf_token %}
                                    <input class="btn-primary" type="file" name="myfile">
                                    <div class="form-group">
                                        <br>
                              				<label for="exampleInputamount">BDT</label>
                              				<input type="number" step="any" class="form-control" placeholder="amount" name="amount">
                              			</div>
                                    <button class="btn btn-social btn-primary" type="submit">

                                    <i class="fas fa-file-invoice"></i>Submit</button>
                                  </form>
                        </div>
                        {% if uploaded_file_url %}
                          <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                        {% endif %}
                    </div>
                  </div>

                </div>



{% endblock %}
