{% extends 'base.html' %}

{% block content %}


<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.first_name}} {{user.last_name}}
                                    </h5>
                                    <h6>
                                      Goverment Employee
                                    </h6>
                                    <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#upload-picture" role="tab" aria-controls="home" aria-selected="true">Upload Picture</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assign-Fine" role="tab" aria-controls="profile" aria-selected="false">Assign fine</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="upload-picture" role="tabpanel" aria-labelledby="home-tab">
                          <form method="POST">
                            <input type="file" name="pic" accept="image/*">
                          </div>
                          <div class="tab-pane fade show active" id="assign-Fine" role="tabpanel" aria-labelledby="home-tab">
                            <div class="form-group">
                      				<label for="forInputFine">BDT</label>
                      				<input type="number" class="form-control" placeholder="amount" name="fine">
                      			</div>
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </form>
                        </div>
                    </div>

            </form>
        </div>

{% endblock %}
